<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--字符编码过滤器-->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.rsy.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/servlet/*</url-pattern>
    </filter-mapping>
    <!--恶意访问过滤器-->
    <filter>
        <filter-name>CheckLoginFilter</filter-name>
        <filter-class>com.rsy.filter.CheckLoginFilter</filter-class>
        <!--使用以下标签可以配置过滤器的过滤规则：缺省时是REQUEST-->
        <description>REQUEST</description>
    </filter>
    <filter-mapping>
        <filter-name>CheckLoginFilter</filter-name>
        <url-pattern>/servlet/*</url-pattern>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <!--添加新的user用户-->
    <servlet>
        <servlet-name>saveAddServlet</servlet-name>
        <servlet-class>com.rsy.system.servlet.saveAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveAddServlet</servlet-name>
        <url-pattern>/servlet/saveAdd</url-pattern>
    </servlet-mapping>
    <!--user用户分页-->
    <servlet>
        <servlet-name>PageQueryUserServlet</servlet-name>
        <servlet-class>com.rsy.system.servlet.PageQueryUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageQueryUserServlet</servlet-name>
        <url-pattern>/servlet/PageQuery</url-pattern>
    </servlet-mapping>

    <!--获取更新界面的数据-->
    <servlet>
        <servlet-name>goUpdateServlet</servlet-name>
        <servlet-class>com.rsy.system.servlet.goUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goUpdateServlet</servlet-name>
        <url-pattern>/servlet/goUpdate</url-pattern>
    </servlet-mapping>


    <!--更新user数据-->
    <servlet>
        <servlet-name>doUpdateServlet</servlet-name>
        <servlet-class>com.rsy.system.servlet.doUpdateServlet</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>doUpdateServlet</servlet-name>
        <url-pattern>/servlet/doUpdate</url-pattern>
    </servlet-mapping>
    <!--删除用户-->
    <servlet>
        <servlet-name>doDeleteServlet</servlet-name>
        <servlet-class>com.rsy.system.servlet.doDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>doDeleteServlet</servlet-name>
       <url-pattern>/servlet/doDelete</url-pattern>
   </servlet-mapping>
    <!--在新增user时判断用户代码是已经含有-->
    <servlet>
        <servlet-name>checkUsercodeServlet</servlet-name>
        <servlet-class>com.rsy.system.servlet.checkUsercodeServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>checkUsercodeServlet</servlet-name>
        <url-pattern>/servlet/checkUsercode</url-pattern>
     </servlet-mapping>
    <!--登陆验证-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.rsy.Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/login</url-pattern>
    </servlet-mapping>
    <!--退出系统-->
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.rsy.Servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/servlet/logout</url-pattern>
    </servlet-mapping>
    <!--增加投资人-->
    <servlet>
        <servlet-name>invSaveServlet</servlet-name>
        <servlet-class>com.rsy.basicinfo.servlet.invSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>invSaveServlet</servlet-name>
        <url-pattern>/servlet/invSave</url-pattern>
    </servlet-mapping>
    <!--投资人分页-->
    <servlet>
        <servlet-name>pageQueryInvServlet</servlet-name>
        <servlet-class>com.rsy.basicinfo.servlet.pageQueryInvServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pageQueryInvServlet</servlet-name>
        <url-pattern>/servlet/pageQueryInv</url-pattern>
    </servlet-mapping>
    <!--投资人详细信息展示-->
    <servlet>
        <servlet-name>viewInvServlet</servlet-name>
        <servlet-class>com.rsy.basicinfo.servlet.viewInvServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewInvServlet</servlet-name>
        <url-pattern>/servlet/viewInv</url-pattern>
    </servlet-mapping>
    <!--企业组织代码查询是否已经存在-->
    <servlet>
        <servlet-name>checkOrgCodeServlet</servlet-name>
        <servlet-class>com.rsy.foreignExchange.servlet.checkOrgCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkOrgCodeServlet</servlet-name>
        <url-pattern>/servlet/checkOrgCode</url-pattern>
    </servlet-mapping>
    <!--保存企业信息-->
    <servlet>
        <servlet-name>orgAddServlet</servlet-name>
        <servlet-class>com.rsy.foreignExchange.servlet.orgAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orgAddServlet</servlet-name>
        <url-pattern>/servlet/orgAdd</url-pattern>
    </servlet-mapping>
    <!--企业信息分页-->
    <servlet>
        <servlet-name>pageQueryEnServlet</servlet-name>
        <servlet-class>com.rsy.auth.servlet.pageQueryEnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pageQueryEnServlet</servlet-name>
        <url-pattern>/servlet/pageQueryEn</url-pattern>
    </servlet-mapping>
<!--接受图表的XML的字符串-->
    <servlet>
        <servlet-name>charXmlServlet</servlet-name>
        <servlet-class>com.rsy.auth.servlet.charXmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>charXmlServlet</servlet-name>
        <url-pattern>/servlet/charXml</url-pattern>
    </servlet-mapping>
    <!--核准件查询企业详细信息-->
    <servlet>
        <servlet-name>viewEnServlet</servlet-name>
        <servlet-class>com.rsy.auth.servlet.viewEnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewEnServlet</servlet-name>
        <url-pattern>/servlet/viewEn</url-pattern>
    </servlet-mapping>
    <!--核准件添加-->
    <servlet>
        <servlet-name>InsertAuthServlet</servlet-name>
        <servlet-class>com.rsy.auth.servlet.InsertAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertAuthServlet</servlet-name>
        <url-pattern>/servlet/saveAuth</url-pattern>
    </servlet-mapping>
    <!--查看核准件明细-->
    <servlet>
        <servlet-name>viewAuthServlet</servlet-name>
        <servlet-class>com.rsy.authResponse.servlet.viewAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewAuthServlet</servlet-name>
        <url-pattern>/servlet/viewAuth</url-pattern>
    </servlet-mapping>
    <!--核准件反馈-->
    <servlet>
        <servlet-name>feedBackServlet</servlet-name>
        <servlet-class>com.rsy.authResponse.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>feedBackServlet</servlet-name>
        <url-pattern>/servlet/feedback</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>